// //FONTS

@font-face {
  font-family: "Circe";
  src: url(../../assets/fonts/Cicle/Circe-Bold.eot);
  src: url(../../assets/fonts/Cicle/Circe-Bold.ttf);
  src: url(../../assets/fonts/Cicle/Circe-Bold.woff);
  src: url(../../assets/fonts/Cicle/Circe-ExtraBold.eot);
  src: url(../../assets/fonts/Cicle/Circe-ExtraBold.ttf);
  src: url(../../assets/fonts/Cicle/Circe-ExtraBold.woff);
  src: url(../../assets/fonts/Cicle/Circe-ExtraLight.eot);
  src: url(../../assets/fonts/Cicle/Circe-ExtraLight.ttf);
  src: url(../../assets/fonts/Cicle/Circe-ExtraLight.woff);
  src: url(../../assets/fonts/Cicle/Circe-Light.eot);
  src: url(../../assets/fonts/Cicle/Circe-Light.ttf);
  src: url(../../assets/fonts/Cicle/Circe-Light.woff);
  src: url(../../assets/fonts/Cicle/Circe-Regular.eot);
  src: url(../../assets/fonts/Cicle/Circe-Regular.ttf);
  src: url(../../assets/fonts/Cicle/Circe-Regular.woff);
  src: url(../../assets/fonts/Cicle/Circe-Thin.eot);
  src: url(../../assets/fonts/Cicle/Circe-Thin.ttf);
  src: url(../../assets/fonts/Cicle/Circe-Thin.woff);
}

// @font-face {
//   font-family: "Poppins";
//   src: url(../../assets/fonts/Poppins/Poppins-Black.ttf);
//   src: url(../../assets/fonts/Poppins/Poppins-BlackItalic.ttf);
//   src: url(../../assets/fonts/Poppins/Poppins-Bold.ttf);
//   src: url(../../assets/fonts/Poppins/Poppins-BoldItalic.ttf);
//   src: url(../../assets/fonts/Poppins/Poppins-ExtraBold.ttf);
//   src: url(../../assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf);
//   src: url(../../assets/fonts/Poppins/Poppins-ExtraLight.ttf);
//   src: url(../../assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf);
//   src: url(../../assets/fonts/Poppins/Poppins-Italic.ttf);
//   src: url(../../assets/fonts/Poppins/Poppins-Light.ttf);
//   src: url(../../assets/fonts/Poppins/Poppins-LightItalic.ttf);
//   src: url(../../assets/fonts/Poppins/Poppins-Medium.ttf);
//   src: url(../../assets/fonts/Poppins/Poppins-MediumItalic.ttf);
//   src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
//   src: url(../../assets/fonts/Poppins/Poppins-SemiBold.ttf);
//   src: url(../../assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf);
//   src: url(../../assets/fonts/Poppins/Poppins-Thin.ttf);
//   src: url(../../assets/fonts/Poppins/Poppins-ThinItalic.ttf);
// }