.ModalSelectBackground {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  position: absolute;
  z-index: 500;
}

.ModalSelectBackground__list {
  display: flex;
  flex-direction: column;
}

.ModalSelectBackground__placeholder {
  color: var(--grayFour);
}

.ModalSelectBackground__list {
  display: none;
  position: absolute;
}

.ModalSelectBackground__placeholder:active .ModalSelectBackground__list {
  display: block;
}

.Select:active{
    appearance: none;
    z-index: 0;
}